@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #D99696;
    --botao-vermelho : #320607;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Montserrat';
    --botao-azul-efeito: #591117;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("asset/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-cabecalho {
    color: var(--branco-principal);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    flex-direction: row; 
    font-family: var(--fonte-principal);
}

.cabecalho-imagem { 
    width: 120px;
    height: 100px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 18px;
}


.container-caixa {
    display: grid;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    text-align: center; 
    margin: 60px auto; 
    max-width: 50%; 
   
}

h3 {
    font-weight: 300;
}

.container-botao {
    display: inline-block; /* Permite que o botão tenha largura baseada no conteúdo */
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 1em;
    margin: 20px auto;
}

