:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-vermelho : #691100;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #904444;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    flex-direction: row; 
}

.cabecalho-imagem { 
    width: 50px;
    height: 50px;
}

.cabecalho-texto {
    display: flex; /* Utiliza flex para alinhar o texto ao lado da imagem */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-left: 16px; /* Adiciona um espaçamento à esquerda para separar a imagem do texto */
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 18px;
}

.principal {
    background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("asset/principal.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 400px; /* Ajuste a altura conforme necessário */
    width: 100%; /* Ou ajuste a largura conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

.container_caixa {
    margin: 0 6em;
}
