@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #858585;
    --botao-vermelho : #320607;
    --cor-de-fundo: #00030c;
    --cor-de-fundo-secundaria: #120d02;
    --fonte-principal: 'Montserrat';
    --botao-azul-efeito: #591117;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("asset/principal.jpg");
    background-repeat: no-repeat;
    height:60vh;
    background-size: cover;
    background-position: center;
}

.container-cabecalho {
    color: var(--branco-principal);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    flex-direction: row; 
    font-family: var(--fonte-principal);
}

.cabecalho-imagem { 
    width: 120px;
    height: 100px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 18px;
}


.container-caixa {
    display: grid;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    text-align: center; 
    margin: 30px 0 0 0;

}

h3 {
    font-weight: 300;
}

.container-botao {
    display: inline-block; /* Permite que o botão tenha largura baseada no conteúdo */
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 1em;
    margin: 20px auto;
}

.container-quem-somos {
    background-color: var(--cor-de-fundo-secundaria);
    color: var(--branco-principal);
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-family: var(--fonte-principal);
    text-align: justify;
}

.quem-somos-img {
    width: 500px;
    height:300px;
    margin: 0 0 0 200px;
}

.quem-somos-titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}

.quem-somos-paragrafo {
    margin: 10px 60px 0 0;
}

.container-objetivos {
    background-color: #443523;
    height:50vh;
    color: var(--branco-principal);
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 100px 0 100px;

}

.objetivos-item {
    font-family: var(--fonte-principal);
    text-align: justify;
}

.item-titulo {
    text-align: center;
    margin-bottom: 10px;
}

.rodape {
    background-color: var(--cor-de-fundo-secundaria);
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a linha seguinte se não houver espaço suficiente */
    justify-content: space-between; /* Distribui os itens uniformemente na linha */
    padding: 50px 100px 20px 100px;
}
.rodape-info {
    display: flex;
    gap: 32px;
    flex-grow: 1; /* Permite que a seção se expanda para ocupar todo o espaço disponível */
}

.rodape-titulo {
    font-weight: 700;
}

.rodape-contatos,
.rodape-horarios,
.rodape-redes {
    flex-grow: 1; /* Cada seção pode crescer para ocupar o espaço disponível */
    font-size: 14px;
}
.rodape-redes {
    display: flex;
    flex-direction: column;
}
.rodape-redes-item {
    text-decoration: none;
    color: var(--cinza-secundario);
}

.info-importante {
    color: var(--cinza-secundario);
    text-align: center;
    flex-basis: 100%; /* Define a largura como 100%, para que ocupe toda a largura disponível */
    margin-top: 30px; /* Ajuste conforme necessário para o espaçamento desejado entre as seções e a info-importante */
}