.cabecalho {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    flex-direction: row; 
    font-family: var(--fonte-principal);
}

.cabecalho-imagem { 
    width: 100px;
    height: 100px;
}

.cabecalho-texto {
    display: flex; /* Utiliza flex para alinhar o texto ao lado da imagem */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-left: 16px; /* Adiciona um espaçamento à esquerda para separar a imagem do texto */
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 18px;
}

.principal {
    background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("asset/pexels-katrin-bolovtsova-6077326.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 400px; /* Ajuste a altura conforme necessário */
    width: 100%; /* Ou ajuste a largura conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_caixa {
    align-items: center;
}

.container_botao {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    /*display: block;*/
    display: grid;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 1em;
    margin: 20px;
    width: 200px;
}

h2 {
    font-family: var(--fonte-principal);
    font-weight: 400;
}
h3 {
    font-family: var(--fonte-principal);
    font-weight: 300;
}
